<div class="container question">
    <h3>General Knowledge</h3>
    <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at
        a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Second default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            Third radio
        </label>
    </div>
    <div class="space-bottom"></div>
    <button type="button" class="btn btn-primary mr-2">prev</button>
    <button type="button" class="btn btn-primary mr-2">save</button>
    <button type="button" class="btn btn-primary mr-2">skip</button>
</div>

<div class="container selections">
    <h3>General Knowledge</h3>
    <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at
        a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Second default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            Third radio
        </label>
    </div>
    <div class="space-bottom"></div>
    <button type="button" class="btn btn-primary mr-2">prev</button>
    <button type="button" class="btn btn-primary mr-2">save</button>
    <button type="button" class="btn btn-primary mr-2">skip</button>
</div>