<div class="space-top"></div>
<div class="border bg-light">Time Remaining: 25:45</div>
<div class="space-top"></div>
<div class="container question">
    <h3>General Knowledge:</h3>
    <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at
        a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        <label class="form-check-label" for="exampleRadios1">
            Default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Second default radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            Third radio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
            Fourth radio
        </label>
    </div>
    <div class="space-bottom"></div>
    <button type="button" class="btn btn-primary mr-2">prev</button>
    <button type="button" class="btn btn-success mr-2">save</button>
    <button type="button" class="btn btn-warning mr-2">skip</button>
    <div class="col-sm-3 mt-5" >
        <div class="border bg-light" style="margin-left: -14px; padding-left: 2px;">
            Total Attempt: 10 <br>
            Total Skip: 4 <br>
            Total Pending: 16
        </div>
    </div>
</div>

<div class="container selections">
    <h5>Questions:</h5>
    <div class="row">
        <button type="button" class="btn btn-success mr-1 mb-1">1</button>
        <button type="button" class="btn btn-warning mr-1 mb-1 ">2</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">3</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">4</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">5</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">6</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">7</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">8</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">9</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">10</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">11</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">12</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">13</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">14</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">15</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">16</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">17</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">18</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">19</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">20</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">21</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">22</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">23</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">24</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">25</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">26</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">27</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">28</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">29</button>
        <button type="button" class="btn btn-primary mr-1 mb-1 ">30</button>
    </div>
</div>