<div class="space-top"></div>
<div class="space-top"></div>
<h3>General Knowledge:</h3>

<div class="table-responsive">
    <table class="table align-left">
        <tr>
            <div class="container">
                <p>1. There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each
                    tier starts at
                    a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                        Third radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                        Fourth radio
                    </label>
                </div>
            </div>
        </tr>
        <div class="space-top"></div>

        <tr>
            <div class="container">
                <p>2. There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each
                    tier starts at
                    a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Second default radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                        Third radio
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                        value="option3">
                    <label class="form-check-label" for="exampleRadios3">
                        Fourth radio
                    </label>
                </div>
            </div>
        </tr>
    </table>
</div>