<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
    <div *ngIf="submitted && error != ''" class="alert alert-danger" role="alert">
        {{error}}
    </div>
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">
    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" class="form-control" [formControl]="loginForm.controls['email']" value="" placeholder="Email">
    <div *ngIf="loginForm.controls['email'].hasError('pattern') &&  loginForm.controls['email'].touched && !loginForm.controls['email'].valid"
        class="col-md-12">
        <p id="emailHelp" class="alert alert-danger login-error-message" role="alert">{{messages.email}}</p>
    </div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input [type]="showEye ? 'password' : 'text'" class="form-control" [formControl]="loginForm.controls['password']"
        placeholder="Password">
    <span class="fa-eye" *ngIf="loginForm.controls['password'].value"
        [ngClass]="showEye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleEye()"></span>
    <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid" class="col-md-12">
        <p id="passwordHelp" class="alert alert-danger login-error-message" role="alert">{{messages.password}}
        </p>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block sign-in"
        [disabled]="loginForm.controls['email'].hasError('required') || loginForm.controls['password'].hasError('required')"
        type="submit">Sign in</button>

    <div class="form-group">
        <div class="col-md-12 text-center">
            OR
        </div>
    </div>
    <button (click)="register()" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>