/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

body {
  background: #e6ebeb;
}

/* font weight bold */
/* .font-bold {
  font-weight: bold;
} */

/* for navbar */
/* .page-header-fixed .page-container {
  margin-top: 0;
} */

/* .navbar-brand {
  height: auto;
} */

/* for sidebar */
/* .page-sidebar {
  background: #ffffff;
} */

/* .page-sidebar .page-sidebar-menu > li > a {
  border-top: 1px solid #f1f1f1;
  color: #171717;
  padding: 15px;
  font-weight: 400;
} */

/* .page-content-wrapper .page-content {
  border-left: 1px solid #f1f1f1;
} */

/* data cards */
/* .data-cards {
  margin-top: 30px;
} */

/* .data-cards .data-card .icon {
  font-size: 30px;
  color: #949494;
} */
