<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>QUIZ</h1>
            <p class="lead text-muted">The main objective
                of this website is to test the candidate's knowledge in Traditional General Knowledge, Constitution
                of India and Indian Polity, Geography, History, General Science, Computer and Technology, Economics,
                Current Affairs, etc.</p>
            <p>
                <button class="btn btn-primary my-2">SSC Quiz</button>

            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">GK and General Awareness</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button class="btn btn-primary">GK</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quantative Aptitude</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button class="btn btn-primary">Maths</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Intelligence and Resoning Ability</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button class="btn btn-primary">Resoning</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Grammar and Vocabulary</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button class="btn btn-primary">English</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Computer Aptitude</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <button class="btn btn-primary">Computer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>