/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

/* css for login page */
.register_header {
  margin: 20px;
}

.register_panel {
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, .3) !important;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #6f42c1;
}

.register_panel .panel-heading {
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  background: none;
  text-align: center;
  color: #fbfff9;
}

.register_panel .panel-body {
  padding: 20px;

}

.register_panel input {
  border: none;
  border-bottom: 1px solid #888888;
}

.register_panel .login_button {
  width: 100%;
  border-radius: 5px !important;
}

.register_panel .form-group {
  margin-bottom: 20px;
}

.register-error-message {
  margin-left: -14px;
}
