<div class="row">
    <div>
        <figure class="text-center register_header">
            <img src="../../assets/images/quiz-sign.jpg" width="400" height="100" alt="Quiz" />
        </figure>
        <br />
        <div class="panel panel-default register_panel">
            <div *ngIf="submitted && error != ''" class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <div class="panel-heading">Quiz Register</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" [formGroup]="registerForm"
                    (ngSubmit)="submitForm(registerForm)">
                    <input type="hidden" name="_token" value="">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" [formControl]="registerForm.controls['name']"
                                value="" placeholder="Name">
                            <div *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].valid"
                                class="col-md-12">
                                <p class="alert alert-danger register-error-message" role="alert">
                                    {{messages.name}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" class="form-control" [formControl]="registerForm.controls['email']"
                                value="" placeholder="Email">
                            <div *ngIf="registerForm.controls['email'].hasError('pattern') &&  registerForm.controls['email'].touched && !registerForm.controls['email'].valid"
                                class="col-md-12">
                                <p class="alert alert-danger register-error-message" role="alert">
                                    {{messages.email}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input [type]="showEye ? 'password' : 'text'" class="form-control"
                                [formControl]="registerForm.controls['password']" placeholder="Password">
                            <span class="fa-eye" *ngIf="registerForm.controls['password'].value"
                                [ngClass]="showEye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleEye()"></span>
                            <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].valid"
                                class="col-md-12">
                                <p class="alert alert-danger register-error-message" role="alert">
                                    {{messages.password}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success login_button"
                                [disabled]="registerForm.controls['name'].hasError('required') || registerForm.controls['email'].hasError('required') || registerForm.controls['password'].hasError('required')">
                                REGISTER
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center text-white">
                            OR
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                          <button (click)="login()" type="button" class="btn btn-success login_button">
                            LOGIN
                          </button>
                        </div>
                      </div>

                </form>
            </div>
        </div>
    </div>
</div>